.logoNav{
    width: 100px;
}

.logoHome{
    width: 40%
}

#mainNav{
}

#mainNav .navbar-nav .nav-item .nav-link{
    color:#009
}

section#contact{
    background-color: #009
}

.textContact{
    color: #fff;
    font-weight: 400;
}

.tel, .ubi{
    margin-top: 3em;
    font-size: 1.2em;
}

.tel, .ubi i{
    font-size: 1.5em
}

h2{
    color: red;
}